.one{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.head{
	width:220px;
	height:230px;
	margin-right: 34px;
	margin-top: 9px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background-color:#D7D8D8
}

.yuan{
	width: 78px;
	height: 78px;
    margin-top: 18px;
	background-color: white;
	border-radius: 78px;
}

.zong{
	margin-top: 5px;
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: : center;
}

.chang{
	width: 140px;
	height: 13px;
	margin-bottom: 3px;
	background-color: white;
}

.dianzong{
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: : center;
}

.dian{
	width:17px;
	height: 15px;
	margin: 19px 13px 13px 13px;
	background-color: white;
}

.right{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: space-between;
	width: 485px;
	height: 690px;
	background-color:#ECECEC
}

.a{
	width: 220px;
	height: 205px;
	margin: 10px 10px 10px 13px;
	background-color: #D8D8D8
}

.footer{
	width: 740px;
	height: 75px;
	margin: 0 auto;
	margin-top: 48px;
	display:flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: flex-end;
	background-color: #D8D8D8
}

.dian{
	width:17px;
	height: 15px;
	margin: 19px 13px 13px 13px;
}

